@import 'reset.css';
@import 'base.css';
body {
	background-color: white;
	background-image: url('C:\java-projects\react-microservices\react-microservices\src\pictures\main.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.greeting-home {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 35px;
	text-align: center;
}

.list-group {
	width: 450px;
    height: 95px;
	padding: 15px;
    margin: 10px;
}

.list-group-item a:hover {
	color: grey;
}

.list-group-item a button {
	margin: 3px;
}

.list-group-item {
	margin: 2px;
}

/*login*/

html {
	background-color: #56baed;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
}

a {
	color: #92badd;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #cccccc;
}

/* STRUCTURE */

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
}

#formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type='button'],
input[type='submit'],
input[type='reset'] {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover {
	background-color: #39ace7;
}

input[type='button']:active,
input[type='submit']:active,
input[type='reset']:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type='text'] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
	width: 85%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type='text']:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type='text']:placeholder {
	color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.fadeIn.first {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.fadeIn.second {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.fadeIn.third {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: '';
	transition: width 0.2s;
}

.underlineHover:hover {
	color: #0d0d0d;
}

.underlineHover:hover:after {
	width: 100%;
}

/* OTHERS */

*:focus {
	outline: none;
}

#icon {
	width: 60%;
}

/*team*/

.addTeam {
	margin: 55px;
}

/*user-details*/

.title-user-details {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
}

.userDetails {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.teamDetails {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	padding: 10px;
}

.userState {
	color: red;
}

.teamState {
	color: red;
}

.addIssueToUser {
	padding: 1% 5%;
}

.userList {
	margin: 1% 5%;
}

.issueState {
	color: red;
	font-weight: bold;
}

/*user-list*/

.addUserToList {
	padding: 1% 2%;
}

.user-list {
	padding: 1% 2%;
}

/*update-users*/

.update-users {
	padding: 1% 47%;
}

/*dashboard*/
/*.dropZone{
	border-style: solid;
	border-width: 3px;
	border-top: 10px;
	margin: 10px;
}
*/
.container-drag {
	text-align: center;
}

.inwork {
	position: absolute;
	width: 324px;
	height: 88%;
	left: 65px;
	top: 100px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	box-shadow: 5px 10px #888888;
}

.paused {
	position: absolute;
	width: 324px;
	height: 88%;
	left: 409px;
	top: 100px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	box-shadow: 5px 10px #888888;
}

.reopened {
	position: absolute;
	width: 324px;
	height: 88%;
	left: 754px;
	top: 100px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	box-shadow: 5px 10px #888888;
}

.solved {
	position: absolute;
	width: 324px;
	height: 88%;
	left: 1097px;
	top: 100px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	box-shadow: 5px 10px #888888;
}

.closed {
	position: absolute;
	width: 324px;
	height: 88%;
	left: 1440px;
	top: 100px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
	box-shadow: 5px 10px #888888;
}

.header {
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: #e0e0e0;
	width: 100%;
}

.task-header {
	display: inline-block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #888888;
	width: 100%;
	height: 20px;
	color: seashell;
}

.draggable {
	width: 303px;
	height: 118px;
	background-color: #a8dcc8;
	margin: 5px auto;
	line-height: 2em;
	border-radius: 2%;
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.issue-userName {
	color: red;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
